<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/58f2448d-901d-4c11-b0b7-d6e77c20d327/resourceGroups/TrabalhoMontanhaAPI/providers/Microsoft.Web/sites/livrariaRosa</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://livrariarosa-adevcahdgadgdtfk.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e1d42717-2d1e-de31-1600-99ef1e25cdf8</ProjectGuid>
    <PublishUrl>https://livrariarosa-adevcahdgadgdtfk.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$livrariaRosa</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>